/* RESET */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");

/* LOGIN WRAPPER */
.login-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-wrapper__login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.login-wrapper__login-form p {
  margin: 0;
}

.get-credentiales-hidden {
  visibility: hidden;
}

.autocomplete-button {

}
/* LAYOUT */

header {
  background-color: aquamarine;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-bar {
  max-width: 1200px;
  margin: auto;
  font-family: "Merienda", cursive;
}

.nav-bar > ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 30px;
}

.nav-bar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.nav-bar ul li a:visited {
  color: #000000;
}

.nav-bar__logout {
  position: absolute;
  right: 30px;
}

.nav-bar__logout > button {
  font-family: "Merienda", cursive;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  color: #000000;
  font-size: 1rem;
}

.nav-bar__logout > button:hover {
  cursor: pointer;
}

.search-container,
.menu-container {
  max-width: 1200px;
  margin: 0 auto auto auto;
  padding: 20px;
  text-align: center;
  justify-self: flex-start;
  margin-top: 83px;
  flex-grow: 1;
}
/* MENU */

/* SEARCH */

.search-container {
  flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.search-container form {
  display: inline-block;
}

/* SHOW MORE */
.search-container__show-more {
  padding: 0 5px;
  text-decoration: underline;
  font-style: italic;
}
/* DISHES CONTAINER */

.dishes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 15px;
}

/* DISH CARD */
.dish-card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.dish-card__image-container {
  max-width: 300px;
  max-height: 200px;
  border-radius: 10px;
}

.dish-card__image-container > img {
  width: 100%;
  border-radius: 10px;
}

.dish-card__vegan-icon {
  max-width: 30px;
}

.dish-card__vegan-icon--not-active {
  filter: grayscale(100%);
}

.dish-card__button-container {
  display: flex;
  gap: 5px;
}

/* FOOTER */

.footer {
  background-color: aquamarine;
  min-height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}
